
.mainContainer {
    width: auto;
    display: flex;
    margin-left: 210px;
}

body {
    background-color: #455a5a;
}
/* 
.mainContainer div div box-icon {
background-color: aqua;
size: 20px;
} */
