.titlecontent {
    padding: 10px;
    height: 96px;
    text-align: center;
    /* background-color: blue; */
    color: white;
}

.maincontent {
    background-color: darkslategray;
    width: 0;
    position: absolute;
    left: 0;
    height: 100vh;
    z-index: 1;
    overflow-x: hidden;
}

.listitem {
    /* background-color: blueviolet; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.listitem div div  {
    border: 1px groove rgb(136, 136, 136);
    padding: 6px;
    margin: 4px;
    display: flex;
    color: white;
    align-items: center;
    flex-direction: row;
    height: 40px;

    
}

.listitem div div box-icon {
    position: relative;
    left: 14px;
}

.listitem div div h5 {
    left: 38px;
    position: relative;
    letter-spacing: 3px;
}


.footercontent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    padding: 4px;
    color: white;
}

footer {
    padding: 10px;
}